<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pedolu.smkcodingchallenge3team">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.pedolu.smkcodingchallenge3team.fragment.CountrySummaryFragment"
            tools:ignore="Instantiatable" />
        <activity android:name="com.pedolu.smkcodingchallenge3team.BeVolunteerActivity" />
        <activity android:name="com.pedolu.smkcodingchallenge3team.EditProfileActivity" />
        <activity android:name="com.pedolu.smkcodingchallenge3team.ProfileActivity" />
        <activity android:name="com.pedolu.smkcodingchallenge3team.RegisterActivity" />
        <activity android:name="com.pedolu.smkcodingchallenge3team.LoginActivity" />
        <activity android:name="com.pedolu.smkcodingchallenge3team.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.pedolu.smkcodingchallenge3team.data.service.FirebaseCloudMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notif" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="notif" />
    </application>

</manifest>